@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
body {
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  margin: 0;
}


.box {
   background-color: rgba(255, 255, 255, 0.6);
  padding: 100px;
  border: 4px solid;
  border-color: #0c7b76;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 15px;
  font-family: 'Wendy One', sans-serif;
  color:rgb(24, 62, 49)
  
}

p {
  margin-bottom: 20px;
}


#submit {
  padding: 12px 24px;
  font-size: 18px;
  background: #18181b;
  color: rgb(247, 247, 247);
  border: ;
  border-radius: 8px;
  cursor: pointer;
}

#submit:hover {
  background: #45a049;
}